<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop Login</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--font awesome icon import-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>
</head>
<body>
<nav><h2>CodeCool Shop: Buying</h2></nav>
<div class="container">
    <form action="/checkout" method="post">
        <p></p>
        <h3>Customer data</h3>
        <p>Please fill every fields. </p>
        <table>
            <tr>
                <th><label for="username">Username</label></th>
                <th><input type="text" id="username" name="username" placeholder="username" required="required"/><br/></th>
            </tr>
            <tr>
                <th><label for="email">Email</label></th>
                <th><input type="text" id="email" name="email" placeholder="email" required="required"/><br/></th>
            </tr>
            <tr>
                <th><label for="phoneNum">Phone number</label></th>
                <th><input type="text" id="phoneNum" name="phoneNum" placeholder="phone number" required="required"/><br/></th>
            </tr>
            <tr>
                <th><label for="billingAddr">Billing adress</label></th>
                <th><input type="text" id="billingAddr" name="billingAddr" placeholder="billing adress" required="required"/><br/></th>
            </tr>
            <tr>
                <th><label for="shippingAddr">Shipping adress</label></th>
                <th><input type="text" id="shippingAddr" name="shippingAddr" placeholder="shipping adress" required="required"/><br/></th>
            </tr>
            <tr>
                <th><input type="submit" value="Buy it all"/></th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>